body{
	background-image: url('../images/coffe.jpg');
	font: normal 16px FreeMono, monospace;
	line-height: 1em;
  	margin: 0;
  	font-size: 0.8em;
}
a{
	color: black;
	font-weight: bolder;
	text-decoration: none;
	display: inline-block;
}
 a:hover{
	color:blue;
}
#main-header{
	background-color: white;
	color: black;
	margin: 0;
 	padding: 7px;
	padding-left: 45px;
}
h1 {
	margin: 30px;
}

.button:hover {
  background-color: black;
  color: white;
}

.bbb:hover{
	color: blue;
}

.button	{
	border: 1px blue solid;
	padding: 15px;
	border-radius: 5px;
	background-color: blue;
	color:white;
}

.bbb{
	border: 1px blue solid;
	padding: 15px;
	border-radius: 5px;
	background-color: white;
	color:blue;

}

#navbar{
	background-color: white;
	color: black;
	margin-top: -60px;
	padding-left: 50%;
}
#navbar ul {
	padding: 0;
	list-style: none;
}

#navbar a{
	text-decoration: none;
	font-size: 1.5em;
	padding-right: 20px;
}
#navbar li {
	display: inline;
}

.meda{
	padding-top: 500px;
	padding-left: 50px;
	font-size: 300%;
}
.meda-2{
	padding-left: 80px;
	font-size:170%;
	width: 35%;
	line-height: 150%;
}
.block{
	float:left;
	width:33.3333333333333%;
	border:1px solid white;
	font-size:150%;
	line-height: 150%;
	background-color: white;
	border-bottom: 10px;
	padding: 100px;
	box-sizing: border-box;
	position: relative;
	top: 215px;
}